<% include layouts/head %>
<link rel="stylesheet" type="text/css" href="normalize.css">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="index.css">
<div id='content'>
  <h1>Send email to Slack</h1>
  <p>Communicate more effectively by putting everything in one place.</p>
  <form action='/signup' method='GET'>
    <h2>Your email domain</h2>
    <label>someone<span id='signupAt'>@</span><input type='text' placeholder='example.com' name='d' /></label>
    <button type='submit'>Sign up for free</button>
  </form>
  <footer>
    Built for <a href='https://www.tunetap.com' target='_blank'>Tunetap</a> by <a href='https://twitter.com/FeifanZ' target='_blank'>Feifan Zhou</a>
  </footer>
</div>
<% include layouts/tail %>