<% include layouts/head %>
<link rel="stylesheet" type="text/css" href="signup.css">
<div id="content">
  <form>
    <section>
      <h2>Domain</h2>
      <article>
        <input type='text' name='domain' placeholder='example.com' />
      </article>
    </section>
    <section>
      <h2>Password</h2>
      <article>
        <input type='password' name='password' placeholder='letmein' />
      </article>
    </section>
    <button type='submit'>Login</button>
  </form>
</div>
<% include layouts/tail %>
