<% include layouts/head %>
<div id='content'>
  <h1>Pricing Guide</h1>
  <p>You're currently on the <strong>Standard Plan</strong>. Do more with the Premium Plan, including per-message channels and tighter access control.</p>
  <table>
    <tr>
      <th>
        <h2>Standard</h2>
        <h2 class='Price'>$0</h2>
      </th>
      <th>
        <h2>Premium</h2>
        <h2 class='Price'>$50/yr</h2>
      </th>
    </tr>
    <tr>Plan details</tr>
  </table>
</div>
<% include layouts/tail %>
