<% include layouts/head %>
<link rel="stylesheet" type="text/css" href="signup.css">
<div id='content'>
  <form action='/users' method='POST'>
    <section>
      <h2>Domain</h2>
      <article>
        <input type='text' name='domain' placeholder='example.com' value='<%= (typeof(domain) != "undefined") ? domain : "" %>' />
      </article>
    </section>
    <section>
      <h2>Slack API URL</h2>
      <article>
        <input type='url' name='slackURL' placeholder='https://hooks.slack.com/XXXXX' />
        <p><a href='https://slack.com/services/new/incoming-webhook'>Where do I find this?</a></p>
      </article>
    </section>
    <section>
      <h2>Target email</h2>
      <article>
        <input type='text' name='target' placeholder='example' />
        <span id='receivingDomain'>@toslack.com</span>
        <p><a href='/pricing'>Need more security?</a></p>
      </article>
    </section>
    <section>
      <h2>Password</h2>
      <article>
        <input type='password' name='password' placeholder='Pick something secure' />
      </article>
    </section>
    <button type='submit'>Finish</button>
  </form>
</div>
<% include layouts/tail %>
