body.index {
  background: url(images/mainbkg.jpg) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-family: 'Lato', sans-serif; }

a {
  color: #5CA89F;
  text-decoration: none;
  transition: color 0.25s;
  -webkit-transition: color 0.25s;
  -ms-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s; }
  a:hover {
    color: #77b6ae; }

form input {
  background: rgba(255, 255, 255, 0.9);
  border: none;
  border-radius: 0.15em;
  box-shadow: 0 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.3);
  color: #444;
  font-size: 1.2rem;
  outline: none;
  padding: 0.5rem 0.5rem; }
form button[type='submit'] {
  background-color: #5CA89F;
  border: none;
  border-bottom: 1px solid #376761;
  border-top: 1px solid #8ec3bc;
  border-radius: 0.25em;
  box-shadow: 0 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.2);
  color: white;
  display: block;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.05em;
  margin-top: 1em;
  padding: 0.75em 1em;
  text-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.5);
  transition: background-color 0.25s;
  -webkit-transition: background-color 0.25s;
  -ms-transition: background-color 0.25s;
  -moz-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  width: 100%; }
  form button[type='submit']:hover {
    background-color: #69afa6; }
  form button[type='submit']:active {
    background-color: #50968c;
    margin-bottom: 0em;
    margin-top: 1.05em; }
