@import 'shared';

.InvisibleButton {
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearence: none;
  -webkit-appearance: none;
  background: transparent;
  border: none;
  color: inherit;
  margin: 0;
  outline: none;
  padding: 0;
}

#content {
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
  // position: relative;
  text-align: center;
  text-shadow: 0 0.1em 0.05em transparentize(black, 0.7);
  h1 {
    font-size: 5rem;
    font-weight: 700;
    margin: 8rem auto 2rem auto;
    text-shadow: 0 0.05em 0.05em transparentize(black, 0.5);
  }
  form {
    background: transparentize(darken($primary-color, 10%), 0.75);
    border-radius: 0.5rem;
    box-shadow: 0 0.05em 0.1em 0.05em transparentize(black, 0.8);
    display: inline-block;
    margin: 2rem 0;
    overflow: hidden;
    padding: 2rem;
    h2 {
      margin-top: 0;
    }
    input {
      box-shadow: 0 0.1em 0.1em 0.1em transparentize(black, 0.7);
    }
    #signupAt {
      display: inline-block;
      padding: 0 0.5rem;
    }
  }
  footer {
    bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    left: 0;
    padding: 1rem;
    position: absolute;
    right: 0;
  }
}