// Width breakpoints
$xxs: 'min-width: 320px';
$media-xxs: 'only screen and (min-width: 320px)';
$xs: 'min-width: 480px';
$media-xs: 'only screen and (min-width: 480px)';
$sm: 'min-width: 768px';
$media-sm: 'only screen and (min-width: 768px)';
$md: 'min-width: 992px';
$media-md: 'only screen and (min-width: 992px)';
$lg: 'min-width: 1200px';
$media-lg: 'only screen and (min-width: 1200px)';
$xlg: 'min-width: 1600px';
$media-xlg: 'only screen and (min-width: 1600px)';

html, body {
  background: url(images/mainbkg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  // background: black;
}

a {
  text-decoration: none;
}

.InvisibleButton {
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearence: none;
  -webkit-appearance: none;
  background: transparent;
  border: none;
  color: inherit;
  margin: 0;
  outline: none;
  padding: 0;
}

#content {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  // position: relative;
  text-align: center;
  text-shadow: 0 0.1em 0.05em transparentize(black, 0.7);
  h1 {
    font-size: 5rem;
    font-weight: 700;
    margin: 8rem auto 2rem auto;
    text-shadow: 0 0.05em 0.05em transparentize(black, 0.5);
  }
  footer {
    bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    left: 0;
    padding: 1rem;
    position: absolute;
    right: 0;
  }
}